<h1>Tableau de bord</h1>

<h2>Appels durant la journée</h2>
<%= high_chart("calls_daily", @hourly_chart) do |c| %>
	<%= chart_options(@originated_calls_by_hours, @answered_calls_by_hours, "hourly", Date.today.to_s + " ", ":00:00") %>
<% end %>

<h2>Appels durant le mois</h2>
<%= high_chart("calls_monthly", @daily_chart) do |c| %>
	<%= chart_options(@originated_calls_by_days, @answered_calls_by_days, "monthly", "#{Date.today.year}-#{Date.today.month}-") %>
<% end %>